@import url("~leaflet/dist/leaflet.css");

body,
#root {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.App {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.MapContainer {
    height: 100vh;
    width: 50vw;
}

.RequestList {
    padding: 0 20px;
}

.listItem {
    cursor: pointer;
}

.activeItem {
    background: antiquewhite;
}